{{define "detail"}}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>detail</title>
    </head>
    <body>
        <h2>詳細</h2>
            <form method="post" action="/update/{{.Id}}"></form>
                <p>内容<input type="text" name="text" size="30" value="{{.Text}}"></p>
                <p>状態
                    <select name="status">
                        {{if eq .Status "未実行"}}
                            <option value="未実行" selected>未実行</option>
                            <option value="実行中">実行中</option>
                            <option value="完了">完了</option>
                        {{if eq .Status "実行中"}}
                            <option value="未実行">未実行</option>
                            <option value="実行中" selected>実行中</option>
                            <option value="完了">完了</option>
                        {{if eq .Status "完了"}}
                            <option value="未実行">未実行</option>
                            <option value="実行中">実行中</option>
                            <option value="完了" selected>完了</option>
                    </select>
                </p>
                <p><input type="submit"></p>
    </body>
    </html>
{{end}}