{{define "index"}}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>todo App</title>
    </head>
    <body>
        <h1>add todo</h1>
        <form method="post" action="/new">
            <p>content<input type="text" name="content" size="30" placeholder="please enter ..."></p>
            <p>status
                <select name="status">
                    <option value="1">todo</option>
                    <option value="2">doing</option>
                    <option value="3">done</option>
                </select>
            </p>
            <p><input type="submit" value="Add"></p>
        </form>
        <ul>
            {{ range . }}
                <li>
                    <label><p>content:<a href="/detail/{{.Id}}">{{- .Content -}}</a></label></p>
                    <span>status:{{- .Status -}}</span>
                    <label><a href="/detail_check/{{.Id}}">delete</a></label>
                </li>
            {{ end }}
        </ul>
    </body>
    </html>
{{end}}
